body {
    background: #7e5d50;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#d7d0cd;
    display: flex;
    align-items: center;
  }
  
  header {
    background: #4a3931;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: top;
    font-size: 40px;
    color: aliceblue;
  }
  
  
  h1 {
    font-size: 20px;
    align-items: top;
    display: flex;
    color:#d7d0cd
  }
  
  input {
    background: #9d755c;
    color:#d7d0cd;
    border-color: #7e5d50;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
  }
  
  input::placeholder {
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
  button {
    background: #9d755c;
    color:#d7d0cd;
    border-color: #7e5d50;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
  }
  
  
  